.btn {
  @include font-family-heading-demi;
  background-color: #264554;
  padding: 0.75rem 1rem;
  color: white;
  text-decoration: none;
  border-radius: 100px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  display: inline-block;
  margin: 1rem 0;
  transition: 250ms all;

  &:hover {
    color: white;
    background-color: $primary;
  }
}
