.circle {
  &__container {
    width: 500px;
    height: 500px;
    position: relative;
    animation: grow 750ms;
  }

  &__innerCircle {
    border: 1px solid black;
    border-radius: 10000px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

#circle1 {
  top: 0;
  left: -75%;
  position: absolute;
  opacity: 0.3;

  .circle__innerCircle {
    border-color: $success;
  }
}

#circle2 {
  top: 0;
  right: -313px;
  position: absolute;
  opacity: 0.2;

  .circle__innerCircle {
    border-color: $primary;
  }
}
