.hero {
  position: relative;

  &__title,
  &__subtitle,
  &__text,
  &__btn {
    z-index: 2;
    position: relative;
  }

  &__title {
    @include font-family-heading-medium;
    font-size: 3rem;
    margin-bottom: 0;
  }

  &__subtitle {
    @include font-family-heading-light;
    font-size: 2.5rem;
    position: relative;
    top: -12px;
    line-height: 48px;
    margin-top: 1rem;
    display: block;
  }

  &__text {
    @include font-family-heading-medium;
    font-size: 1.5rem;
  }

  &__image {
    position: relative;
    z-index: 40;
    max-width: 100%;
    width: 400px;
  }
}
