// Include Bootstrap functions
@import "../../node_modules/bootstrap/scss/functions";

// Override default variables here
$primary: #0869a6;
$secondary: #a9bf04;
$success: blue;
$c-gray: #666666;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px,
);

// Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/root";

$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
  6: (
    $spacer * 5,
  ),
);

// Include any optional Bootstrap CSS as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";

// Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

body {
  background: linear-gradient(#f2ac29, #cce0f4, #1e9cd7);
  overflow-x: hidden;
}

.wrapper {
  background: white;
  width: 95%;
}

.img-container {
  position: relative;
}

.cloneImage__innerImage {
  position: absolute;
}

p,
span,
strong {
  font-size: 1.25rem;
}

@import "abstracts/animations";
@import "abstracts/variables";
@import "abstracts/mixins";

.page-content {
  font-family: $font-family-body;
}

@import "layout/footer";

@import "components/buttons";
@import "components/hero";
@import "components/contact";
@import "components/circles";
